<template name="doctorNavigation">
    <div class="side-navigation dont-count front">
        <div class="side-navigation-inner">
            <div class="nav-content">
                <div class="nav-profile">
                    <div class="overlay"></div>
                    <a href="javascript:"><img src="/img/profile.png" alt=""></a>
                    <a href="javascript:"><div class="profile-name">Dr. Lili Madiha</div></a>
                    <div class="profile-email">+6012-925 2858</div>
                </div>
                <div class="nav-menu">
                    <a class="nav-list active" href="/doctor/"><i class="mdi mdi-home"></i> My Profile</a>
                    <a class="nav-list" href="/patient/search-doctor"><i class="mdi mdi-magnify"></i> Search Doctor</a>
                    <a class="nav-list" href="/patient/my-doctor/"><i class="mdi mdi-stethoscope"></i> My Doctor</a>
                    <div class="divider"></div>
                    <a class="nav-list" href="/ui/textfield"><i class="mdi mdi-account"></i> My Account</a>
                    <a class="nav-list" href="/ui/textfield"><i class="mdi mdi-settings"></i> Settings</a>
                </div>
            </div>
        </div>
    </div>
</template>
