<template name="doctorAddRequestsLayout">
    {{#contentFor "pageTitle"}}Patient Add Requests{{/contentFor}}
    <div class="paper background-white" style="padding: 0; padding-top: 6px; padding-bottom: 6px;">
        <div style="max-width: 1312px; margin: 0 auto;">
            <ul class="list">
                <li class="multi-line">
                    <img src="/img/profile.png" alt="">
                    <div class="label">
                        Lili Madiha Sulaiman
                        <div class="caption">+6012 925 2858</div>
                        <div class="caption font-caption" style="margin-bottom: 0; margin-top: 6px; font-size: 12px;">2 hours ago</div>
                        <div class="pull-right">
                            <a href="" class="flat-button ripple no-margin">Ignore</a>
                            <a href="" class="flat-button primary ripple no-margin">Accept</a>
                        </div>
                    </div>
                    <div class="divider semi"></div>
                </li>
                <li class="multi-line">
                    <img src="/img/profile.png" alt="">
                    <div class="label">
                        Nizul Zaim Anuar
                        <div class="caption">+6012 925 2858</div>
                        <div class="caption font-caption" style="margin-bottom: 0; margin-top: 6px; font-size: 12px;">2 hours ago</div>
                        <div class="pull-right">
                            <a href="" class="flat-button ripple no-margin">Ignore</a>
                            <a href="" class="flat-button primary ripple no-margin">Accept</a>
                        </div>
                    </div>
                    <div class="divider semi"></div>
                </li>
                <li class="multi-line">
                    <img src="/img/profile.png" alt="">
                    <div class="label">
                        Zatil Zaida
                        <div class="caption">+6012 925 2858</div>
                        <div class="caption font-caption" style="margin-bottom: 0; margin-top: 6px; font-size: 12px;">2 hours ago</div>
                        <div class="pull-right">
                            <a href="" class="flat-button ripple no-margin">Ignore</a>
                            <a href="" class="flat-button primary ripple no-margin">Accept</a>
                        </div>
                    </div>
                    <div class="divider semi"></div>
                </li>
                <li class="multi-line">
                    <img src="/img/profile.png" alt="">
                    <div class="label">
                        Muhammad Naqib
                        <div class="caption">+6012 925 2858</div>
                        <div class="caption font-caption" style="margin-bottom: 0; margin-top: 6px; font-size: 12px;">2 hours ago</div>
                        <div class="pull-right">
                            <a href="" class="flat-button ripple no-margin">Ignore</a>
                            <a href="" class="flat-button primary ripple no-margin">Accept</a>
                        </div>
                    </div>
                    <div class="divider semi"></div>
                </li>
                <li class="multi-line">
                    <img src="/img/profile.png" alt="">
                    <div class="label">
                        Muhammad Naqib
                        <div class="caption">+6012 925 2858</div>
                        <div class="caption font-caption" style="margin-bottom: 0; margin-top: 6px; font-size: 12px;">2 hours ago</div>
                        <div class="pull-right">
                            <a href="" class="flat-button ripple no-margin">Ignore</a>
                            <a href="" class="flat-button primary ripple no-margin">Accept</a>
                        </div>
                    </div>
                    <div class="divider semi"></div>
                </li>
            </ul>
        </div>
    </div>
    <a href="#" class="fab ripple secondary fixed">
        <i class="mdi mdi-message-text"></i>
    </a>
</template>
