<template name="doctorPatientProfileLayout">
    {{#contentFor "pageTitle"}}Patient Profile{{/contentFor}}
    <div class="paper" style="padding-top: 6px; padding-bottom: 6px;">
        <div style="max-width: 1312px; margin: 0 auto;">
            <div class="row center-xs">
                <div class="col-xs-fluid-24">
                    <div class="cards cards-profile">
                        <div class="cards-profile-image-header">
                            <img src="/img/back1.png" class="cards-profile-image-header-background" alt="" />
                        </div>
                        <div class="cards-profile-content">
                            <img src="{{profile.image}}" class="cards-profile-content-account" alt="" />
                            <div class="font-subhead no-margin">{{profile.name}}</div>
                            <div class="font-body no-margin color-grey-700">Patient Account</div>
                            <div class="font-body no-margin color-grey-700">{{username}}</div>
                        </div>
                    </div>
                    <div class="" style="margin-bottom: 8px;">
                        <a href="javascript:" style="float: right" class="pull-right secondary raised-button ripple"><i class="mdi mdi-pencil"></i>Edit</a>
                        <a href="javascript:" style="float: right; margin-right: 4px;" class="pull-right primary raised-button ripple"><i class="mdi mdi-pencil"></i>Add Remarks</a>
                    </div>

                    <div class="cards">
                        <div class="cards-text">
                            <div class="font-title no-margin font-grey-900">
                                Today so Far
                            </div>
                            <div class="row no-margin" id="weight" data-dialog="#indexDialog">
                                <div class="col-xs-1" style="padding: 0;">
                                    <a href="javscript:" class="icon-toggle ripple">
                                        <i class="mdi mdi-weight-kilogram"></i>
                                    </a>
                                </div>
                                <div class="col-xs">
                                    <div style="padding: 12px 0;" >
                                        <div class="font-body no-margin">Weight (Kg) <span class="pull-right font-subhead no-margin font-light">{{getPatientLatestData "weight"}}kg</span></div>
                                        <div class="progress-bar accent determinate" data-current="0"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-margin">
                                <div class="col-xs-1" style="padding: 0;">
                                    <a href="javscript:" class="icon-toggle ripple">
                                        <i class="mdi mdi-ruler"></i>
                                    </a>
                                </div>
                                <div class="col-xs">
                                    <div style="padding: 12px 0;">
                                        <div class="font-body no-margin">Height (cm) <span class="pull-right font-subhead no-margin font-light">{{getPatientLatestData "height"}}cm</span></div>
                                        <div class="progress-bar accent determinate" data-current="0"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row no-margin">
                                <div class="col-xs-1" style="padding: 0;">
                                    <a href="javscript:" class="icon-toggle ripple">
                                        <i class="mdi mdi-heart "></i>
                                    </a>
                                </div>
                                <div class="col-xs">
                                    <div style="padding: 12px 0;">
                                        <div class="font-body no-margin">Heart Rate <span class="pull-right font-subhead no-margin font-light">60 bpm</span></div>
                                        <div class="progress-bar accent determinate" data-current="0"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row no-margin">
                                <div class="col-xs-1" style="padding: 0;">
                                    <a href="javscript:" class="icon-toggle ripple">
                                        <i class="mdi mdi-cup-water "></i>
                                    </a>
                                </div>
                                <div class="col-xs">
                                    <div style="padding: 12px 0;">
                                        <div class="font-body no-margin">Cup Water <span class="pull-right font-subhead no-margin font-light">1/5</span></div>
                                        <div class="progress-bar accent determinate" data-current="1" data-goal="5"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-margin">
                                <div class="col-xs-1" style="padding: 0;">
                                    <a href="javscript:" class="icon-toggle ripple">
                                        <i class="mdi mdi-walk "></i>
                                    </a>
                                </div>
                                <div class="col-xs">
                                    <div style="padding: 12px 0;">
                                        <div class="font-body no-margin">Walk <span class="pull-right font-subhead no-margin font-light">100/1000</span></div>
                                        <div class="progress-bar accent determinate" data-current="100" data-goal="1000"></div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="fab ripple secondary fixed">
        <i class="mdi mdi-message-text"></i>
    </a>
</template>
