<template name="doctorMyProfileLayout">
    {{#contentFor "pageTitle"}}My Profile{{/contentFor}}
    <div class="paper" style="padding-top: 6px; padding-bottom: 6px;">
        <div style="max-width: 1312px; margin: 0 auto;">
            <div class="row center-xs">
                <div class="col-xs-fluid-24">
                    <div class="cards cards-profile style-2">
                        <div class="cards-profile-image-header">
                            <img src="/img/back1.png" class="cards-profile-image-header-background" alt="" />
                            <div class="middle-center">
                                <img src="/img/profile.png" class="cards-profile-content-account" alt="" />
                                <a href="javascript:" class="primary raised-button ripple center"><i class="mdi mdi-pencil"></i>Edit Profile</a>
                            </div>

                        </div>
                        <div class="cards-profile-content">
                            <div class="font-subhead">{{loginUser.profile.name}} <span class="font-medium">({{loginUser.doctor.docpin}})</span><i class="mdi mdi-checkbox-marked-circle account-verify"></i></div>
                            <div class="font-body no-margin color-grey-700" style="line-height: 16px;">Doctor Account</div>
                            <!-- <div class="font-body no-margin color-grey-700" style="line-height: 16px;">Prince Court Medical Centre</div>
                            <div class="font-body no-margin color-grey-700" style="line-height: 16px;">Kuala Lumpur, Malaysia</div>
                            <div class="font-body no-margin color-grey-700" style="line-height: 16px;">Department of Orthopedic</div> -->
                        </div>
                    </div>
                    {{#each loginUser.getMyAppoinments}}
                        {{> doctorMyProfileCards}}
                    {{/each}}

                </div>
            </div>
        </div>
    </div>
    <a href="#" class="fab ripple secondary fixed">
        <i class="mdi mdi-message-text"></i>
    </a>
</template>

<template name="doctorMyProfileCards">
    <div class="cards" style="display:none;">
        <div class="cards-text">
            <div class="font-subhead color-grey-900">
                Patient Session Request
            </div>

            <div class="font-body color-grey-800">
                Your patient request to schedule appointment with you. Your patient details :
            </div>
            <div class="font-body color-grey-600 no-margin"><span class="font-medium color-grey-800">Name :</span> {{patient.profile.name}}</div>
            <div class="font-body color-grey-600 no-margin"><span class="font-medium color-grey-800">Phone Number :</span> {{patient.username}}</div>
            <div class="font-body color-grey-600 no-margin"><span class="font-medium color-grey-800">Date :</span> {{getRequestAtDate}}</div>
            <div class="font-body color-grey-600 no-margin"><span class="font-medium color-grey-800">Time :</span> {{getRequestAtTime}}</div>
        </div>
        <div class="cards-action">
            <a href="#" class="flat-button primary ripple">Schedule</a>
            <a href="javscript:" id="reject" class="icon-toggle ripple"><i class="mdi mdi-close"></i></a>
            <a href="javscript:" id="accept" class="icon-toggle ripple"><i class="mdi mdi-check"></i></a>
        </div>
    </div>
</template>
