<template name="doctorSessionRequestsListLayout">
    {{#contentFor "pageTitle"}}Patient Session Request{{/contentFor}}
    <div class="paper background-white" style="padding: 0; padding-top: 6px; padding-bottom: 6px;">
        <div style="max-width: 1312px; margin: 0 auto;">
            <ul class="list">
                {{#each appointments}}
                    {{> sessionRequestDisplay}}
                {{/each}}
            </ul>
        </div>
    </div>
    <a href="#" class="fab ripple secondary fixed">
        <i class="mdi mdi-message-text"></i>
    </a>
</template>

<template name="sessionRequestDisplay">
    <li class="multi-line">
        <img src="{{patient.profile.image}}" alt="">
        <div class="label">
            {{patient.profile.name}}
            <div class="caption">{{patient.username}}</div>
            <div class="caption" style="">25 November 2015 | Wednesday | 9:00 AM</div>
            <div class="pull-right">
                <a href="/doctor/reschedule-session" class="flat-button ripple">Re-schedule</a>
                <a href="javscript:" id="reject" class="icon-toggle ripple"><i class="mdi mdi-close"></i></a>
                <a href="javscript:" id="accept" class="icon-toggle ripple"><i class="mdi mdi-check"></i></a>
            </div>
        </div>
        <div class="divider semi"></div>
    </li>
</template>
