<template name="doctorSessionRequestsListLayout">
    {{#contentFor "pageTitle"}}Patient Session Request{{/contentFor}}
    <div class="paper background-white" style="padding: 0; padding-top: 6px; padding-bottom: 6px;">
        <div style="max-width: 1312px; margin: 0 auto;">
            <ul class="list">
                <li class="multi-line">
                    <img src="/img/profile.png" alt="">
                    <div class="label">
                        Nizul Zaim
                        <div class="caption">+6012 925 2858</div>
                        <div class="caption" style="">25 November 2015 | Wednesday | 9:00 AM</div>
                        <div class="pull-right">
                            <a href="/doctor/reschedule-session" class="flat-button ripple">Re-schedule</a>
                            <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-close"></i></a>
                            <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-check"></i></a>
                        </div>
                    </div>
                    <div class="divider semi"></div>
                </li>
                <li class="multi-line">
                    <img src="/img/profile.png" alt="">
                    <div class="label">
                        Lili Madiha Sulaiman
                        <div class="caption">+6012 925 2858</div>
                        <div class="caption" style="">25 November 2015 | Wednesday | 9:00 AM</div>
                        <div class="pull-right">
                            <a href="javscript:" class="flat-button ripple">Re-schedule</a>
                            <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-close"></i></a>
                            <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-check"></i></a>
                        </div>
                    </div>
                    <div class="divider semi"></div>
                </li>
                <li class="multi-line">
                    <img src="/img/profile.png" alt="">
                    <div class="label">
                        Zatilzaida
                        <div class="caption">+6012 925 2858</div>
                        <div class="caption" style="">25 November 2015 | Wednesday | 9:00 AM</div>
                        <div class="pull-right">
                            <a href="javscript:" class="flat-button ripple">Re-schedule</a>
                            <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-close"></i></a>
                            <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-check"></i></a>
                        </div>
                    </div>
                    <div class="divider semi"></div>
                </li>
                <li class="multi-line">
                    <img src="/img/profile.png" alt="">
                    <div class="label">
                        Muhammad Naqib
                        <div class="caption">+6012 925 2858</div>
                        <div class="caption" style="">25 November 2015 | Wednesday | 9:00 AM</div>
                        <div class="pull-right">
                            <a href="javscript:" class="flat-button ripple">Re-schedule</a>
                            <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-close"></i></a>
                            <a href="javscript:" class="icon-toggle ripple"><i class="mdi mdi-check"></i></a>
                        </div>
                    </div>
                    <div class="divider semi"></div>
                </li>
            </ul>
        </div>
    </div>
    <a href="#" class="fab ripple secondary fixed">
        <i class="mdi mdi-message-text"></i>
    </a>
</template>
