<template name="doctorMyPatientLayout">
    {{#contentFor "pageTitle"}}My Patient{{/contentFor}}
    <div class="paper background-white" style="padding: 0; padding-top: 6px; padding-bottom: 6px;">
        <div style="max-width: 1312px; margin: 0 auto;">
            <ul class="list">
                {{#each patients}}
                    {{> showMyPatient}}
                {{/each}}

            </ul>
        </div>
    </div>
    <a href="#" class="fab ripple secondary fixed">
        <i class="mdi mdi-message-text"></i>
    </a>
</template>

<template name="showMyPatient">
    <a href="/profile/{{_id}}">
        <li class="single-line">
            <img src="/img/profile.png" alt="">
            <i class="mdi mdi-chevron-right color-grey-500"></i>
            <div class="label">{{profile.name}}</div>
        </li>
    </a>
</template>
