<template name="appLogin4Layout">
    <div class="login1">
        <div class="login-background">

        </div>
        <div class="login-overlay">

        </div>
        <div class="login-content">
            <div class="paper" style="padding-top: 6px; padding-bottom: 6px; background: transparent">
                <div style="max-width: 1312px; margin: 0 auto;">
                    <div class="row center-xs">
                        <div class="col-xs-fluid-24">
                            <img src="/img/logo.png" alt="" style="margin-bottom: 24px; max-width: 30%; width: 30%"/>
                            <div class="cards">
                                <div class="cards-text">

                                    <div class="font-title font-center font-light color-grey-700">
                                        Please choose either patient or doctor account
                                    </div>
                                    <form class="" action="index.html" method="post">
                                        <div class="row center-xs" style="margin-bottom: 40px;">
                                            <div class="col-xs-fluid-9">
                                                <img src="/img/profile.png" style="display: block; width: 80px; border-radius:50%;" alt="" />
                                                <div class="font-body font-center color-grey-700">Patient</div>
                                            </div>
                                            <div class="col-xs-fluid-9">
                                                <img src="/img/profile.png" style="display: block; width: 80px; border-radius:50%;" alt="" />
                                                <div class="font-body font-center color-grey-700" >Doctor</div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="font-caption font-center font-light color-grey-700 no-margin">
                                        With clicking the Finish button, you are automatically agree with terms & condition
                                    </div>
                                </div>
                                <div class="cards-action">
                                    <div class="pull-right">
                                        <a href="#" class="flat-button secondary ripple">Finish</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
