<template name="docareLogin2Layout">
    <div class="login1">
        <div class="login-background">

        </div>
        <div class="login-overlay">

        </div>
        <div class="login-content">
            <div class="paper" style="padding-top: 6px; padding-bottom: 6px; background: transparent">
                <div style="max-width: 1312px; margin: 0 auto;">
                    <div class="row center-xs">
                        <div class="col-xs-fluid-24">
                            <img src="/img/logo.png" alt="" style="margin-bottom: 24px; max-width: 65%; width: 65%"/>
                            <div class="cards">
                                <div class="cards-text">
                                    <div class="font-subhead color-grey-800">
                                        Sit back & relax while we sending SMS to your mobile:
                                    </div>
                                    <div class="font-headline color-grey-900 font-center">+60129252858</div>
                                    <form class="" action="index.html" method="post">
                                        <input type="text" name="text" value="DC - " placeholder="Verify Code" data-floating-field>
                                    </form>
                                </div>
                                <div class="cards-action">
                                    <div class="pull-right">
                                        <a href="/" class="flat-button ripple">Back</a>
                                        <a href="/login-3" class="flat-button secondary ripple">Verify</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
