<template name="patientActivityLayout">
    {{#contentFor "pageTitle"}}My Activity{{/contentFor}}
    <div class="paper" style="padding-top: 6px; padding-bottom: 6px;">
        <div style="max-width: 1312px; margin: 0 auto;">
            <div class="row center-xs">
                <div class="col-xs-fluid-24">
                    <div class="cards cards-profile">
                        <div class="cards-profile-image-header">
                            <img src="/img/back1.png" class="cards-profile-image-header-background" alt="" />
                        </div>
                        <div class="cards-profile-content">
                            <img src="{{loginUser.profile.image}}" class="cards-profile-content-account" alt="" />
                            <div class="font-subhead no-margin">{{loginUser.profile.name}}</div>
                            <div class="font-body no-margin color-grey-700">Patient Account</div>
                        </div>
                    </div>
                    {{#if loginUser.hasDoctor}}
                    <div class="cards">
                        <div class="cards-text">
                            <div class="font-title no-margin font-grey-900">
                                Today so Far
                            </div>
                            <div class="row no-margin" id="weight" data-dialog="#indexDialog">
                                <div class="col-xs-1" style="padding: 0;">
                                    <a href="javscript:" class="icon-toggle ripple">
                                        <i class="mdi mdi-weight-kilogram"></i>
                                    </a>
                                </div>
                                <div class="col-xs">
                                    <div style="padding: 12px 0;" >
                                        <div class="font-body no-margin">Weight (Kg) <span class="pull-right font-subhead no-margin font-light">{{loginUser.getPatientLatestData "weight"}}kg</span></div>
                                        <div class="progress-bar accent determinate" data-current="0"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-margin">
                                <div class="col-xs-1" style="padding: 0;">
                                    <a href="javscript:" class="icon-toggle ripple">
                                        <i class="mdi mdi-ruler"></i>
                                    </a>
                                </div>
                                <div class="col-xs">
                                    <div style="padding: 12px 0;">
                                        <div class="font-body no-margin">Height (cm) <span class="pull-right font-subhead no-margin font-light">{{loginUser.getPatientLatestData "height"}}cm</span></div>
                                        <div class="progress-bar accent determinate" data-current="0"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row no-margin">
                                <div class="col-xs-1" style="padding: 0;">
                                    <a href="javscript:" class="icon-toggle ripple">
                                        <i class="mdi mdi-heart "></i>
                                    </a>
                                </div>
                                <div class="col-xs">
                                    <div style="padding: 12px 0;">
                                        <div class="font-body no-margin">Heart Rate <span class="pull-right font-subhead no-margin font-light">60 bpm</span></div>
                                        <div class="progress-bar accent determinate" data-current="0"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row no-margin">
                                <div class="col-xs-1" style="padding: 0;">
                                    <a href="javscript:" class="icon-toggle ripple">
                                        <i class="mdi mdi-cup-water "></i>
                                    </a>
                                </div>
                                <div class="col-xs">
                                    <div style="padding: 12px 0;">
                                        <div class="font-body no-margin">Cup Water <span class="pull-right font-subhead no-margin font-light">1/5</span></div>
                                        <div class="progress-bar accent determinate" data-current="1" data-goal="5"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-margin">
                                <div class="col-xs-1" style="padding: 0;">
                                    <a href="javscript:" class="icon-toggle ripple">
                                        <i class="mdi mdi-walk "></i>
                                    </a>
                                </div>
                                <div class="col-xs">
                                    <div style="padding: 12px 0;">
                                        <div class="font-body no-margin">Walk <span class="pull-right font-subhead no-margin font-light">100/1000</span></div>
                                        <div class="progress-bar accent determinate" data-current="100" data-goal="1000"></div>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                    </div>
                    <div class="cards">
                        <div class="cards-text">
                            <div class="font-subhead no-margin color-grey-900">
                                10 Oct 2015 Session
                            </div>
                            <div class="font-body color-grey-600">
                                Dr. Lili Madiha
                            </div>
                            <div class="font-body color-grey-700">
                                Nizul Zaim, your next session with me will be on 9.00 AM, 10 October on Saturday. Please inform me if any change that you want to make.
                            </div>
                        </div>
                        <div class="cards-action">
                            <a href="#" class="flat-button primary ripple">Re-Schedule</a>
                        </div>
                    </div>

                    <div class="dialog" id="indexDialog">
                        <div class="dialog-content h-md">
                            <div class="dialog-header">
                                <div class="font-subhead no-margin">Update Weight</div>
                            </div>
                            <div class="dialog-body">
                                <div style="text-align: center; margin-bottom: 12px;">
                                    <i class="mdi mdi-weight-kilogram color-grey-500" style="font-size: 90px;"></i>
                                </div>

                                <input type="text" name="weight" placeholder="Weight (Kg)" value="60" data-floating-field>
                            </div>
                            <div class="dialog-action">
                                <div class="pull-right">
                                    <a href="#" class="flat-button ripple">cancel</a>
                                    <a href="#" class="color-button primary ripple">Confirm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                        <div style="text-align: center; width: 100%; max-width: 70%; margin: 0 auto;">
                            <div class="font-body color-grey-600">
                                You still don't have any doctor to track your activity. Meet your doctor to get his account pin number.
                            </div>
                            <a href="/patient/search-doctor/" class="secondary raised-button ripple center"><i class="mdi mdi-plus"></i> Add Doctor</a>
                        </div>
                    {{/if}}

                </div>
            </div>
        </div>
    </div>
</template>
