<template name="patientSetSessionLayout">
    {{#contentFor "pageTitle"}}Set Session{{/contentFor}}
    <div class="paper" style="padding-top: 6px; padding-bottom: 6px;">
        <div style="max-width: 1312px; margin: 0 auto;">
            <div class="row center-xs">
                <div class="col-xs-fluid-24">
                    <form id="firstData" action="/patient/set-session" method="post">
                        <div class="cards" style="margin-top: 8px; margin-bottom: 56px; overflow: visible">
                            <div class="cards-text">
                                <div class="font-body color-grey-700">Please request to set session/appoinment date and time with your doctor. The doctor will accept, reject or reschedule your appoinment after you confirm it here.</div>
                                <input type="text" name="sessionDate" class="input-datepicker" placeholder="Session Date" data-floating-field>
                                <select name="" id="">
                                    <option value="07" selected="">07:00 AM</option>
                                    <option value="08">08:00 AM</option>
                                    <option value="09">09:00 AM</option>
                                    <option value="10">10:00 AM</option>
                                    <option value="11">11:00 AM</option>
                                    <option value="12">12:00 AM</option>
                                    <option value="13">01:00 PM</option>
                                    <option value="14">02:00 PM</option>
                                    <option value="15">03:00 PM</option>
                                    <option value="16">04:00 PM</option>
                                    <option value="17">05:00 PM</option>
                                    <option value="18">06:00 PM</option>
                                    <option value="19">07:00 PM</option>
                                    <option value="20">08:00 PM</option>
                                </select>
                            </div>
                            <div class="cards-action">
                                <div class="pull-right">
                                    <button type="submit" class="color-button secondary ripple">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</template>
