<template name="appLogin2Layout">
    <div class="login1">
        <div class="login-background">

        </div>
        <div class="login-overlay">

        </div>
        <div class="login-content">
            <div class="paper" style="padding-top: 6px; padding-bottom: 6px; background: transparent">
                <div style="max-width: 1312px; margin: 0 auto;">
                    <div class="row center-xs">
                        <div class="col-xs-fluid-24">
                            <img src="/img/logo.png" alt="" style="margin-bottom: 24px; max-width: 65%; width: 65%" />
                            <form id="loginForm2" method="post">
                                <div class="cards">
                                    <div class="cards-text">
                                        <div class="font-subhead color-grey-800">
                                            Sit back & relax while we sending SMS to your mobile:
                                        </div>
                                        <div class="font-headline color-grey-900 font-center">{{phoneNumber}}</div>
                                        <input type="text" name="text" value="DC-" data-prefix-field placeholder="Verify Code" data-floating-field>
                                    </div>
                                    <div class="cards-action">
                                        <div class="pull-right">
                                            <a href="/" class="flat-button ripple">Back</a>
                                            <button type="submit" class="flat-button secondary ripple">Verify</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
