<template name="appLogin3Layout">
    <div class="login1">
        <div class="login-background">

        </div>
        <div class="login-overlay">

        </div>
        <div class="login-content">
            <div class="paper" style="padding-top: 6px; padding-bottom: 6px; background: transparent">
                <div style="max-width: 1312px; margin: 0 auto;">
                    <div class="row center-xs">
                        <div class="col-xs-fluid-24">
                            <img src="/img/logo.png" alt="" style="margin-bottom: 24px; max-width: 30%; width: 30%"/>
                            <div class="cards">
                                <div class="cards-text">

                                    <div class="font-title font-center font-light color-grey-700">
                                        Please provide your name and an optional profile photo
                                    </div>
                                    <form class="" action="index.html" method="post">
                                        <img id="imageGet" src="/img/profile.png" style="width: 100px; border-radius:50%; margin-bottom: 40px;" alt="" />
                                        <input type="text" name="text" value="" placeholder="Profile Name" data-floating-field>
                                    </form>
                                </div>
                                <div class="cards-action">
                                    <div class="pull-right">
                                        <a href="/login-4" class="flat-button secondary ripple">Next</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
