<template name="doctorNavigation">
    <div class="side-navigation dont-count front">
        <div class="side-navigation-inner">
            <div class="nav-content">
                <div class="nav-profile">
                    <div class="overlay"></div>
                    <a href="javascript:"><img src="{{loginUser.profile.image}}" alt=""></a>
                    <a href="javascript:"><div class="profile-name">{{loginUser.profile.name}}</div></a>
                    <div class="profile-email">{{loginUser.username}}</div>
                </div>
                <div class="nav-menu">
                    <a class="nav-list active" href="/doctor/"><i class="mdi mdi-home"></i> My Profile</a>
                    <a class="nav-list" href="/doctor/my-patient"><i class="mdi mdi-book-variant"></i> My Patient</a>
                    <a class="nav-list" href="/doctor/add-requests"><i class="mdi mdi-account-plus"></i> Add Requests</a>
                    <a class="nav-list" href="/doctor/conversation/1"><i class="mdi mdi-message-text"></i> Conversation</a>
                    <div class="divider"></div>
                    <a class="nav-list" href="/ui/textfield"><i class="mdi mdi-account"></i> My Account</a>
                    <a class="nav-list" href="/ui/textfield"><i class="mdi mdi-settings"></i> Settings</a>
                    <a class="nav-list" href="/patient/"><i class="mdi mdi-help-circle"></i> Help & Feedback</a>
                </div>
            </div>
        </div>
    </div>
</template>
